body {
  background: #9BA7BF;
  background-size: auto;
  /* background: linear-gradient(0deg, rgba(57, 74, 89, 1) 0%, rgba(142, 168, 191, 1) 100%); */
}

.pageRender {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 100%;
  background-color: #dcd9d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  /* border: 3px solid #8596A6; */

}

.cityForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityButton {
  height: 2rem;
  width: 5rem;
  margin-top: 1rem;
  border-radius: 5px;
  transition: 0.3s;
}

.cityButton:hover {
  opacity: 0.8;
}